   #responsive{
        width: 90%;
        margin: 0 auto;
        background-color: black;
        border: 0.5px solid red;
        max-width: 420px;
   }

   header{
        width: 100%;
        background-color: blue;
        height: 100px;
   }
   #encoder,#decoder{
     border: 1px black solid;
   
   }

   nav{
        width: 100%;
        background-color: purple;
        height: 50px;
        position: relative;
        
   }

   #container{
        height: 500px;
        background-color: white;
        width: 100%;
        display: flex;
   }

   footer{
        width: 100%;
        background-color: aqua;
        height: 100px;
   }

   #sidebar{
        background-color: blueviolet;
        display: none;
        height: 100%
   }

   #inner-container{
        background-color: chartreuse;
        height: 100%;
    }

ul {
     list-style-type: none;
     display: flex;
     position: absolute;
     top: 50;
     left: 50;
     flex-direction: column;
}

#Hamburger {
     width: 40px;
     height: 40px;
     background-color: aqua;
     border: 1px solid black;
     border-radius: 10px;
     margin: 10px 0 0 5px;
     box-shadow: 5px 10px grey;  
}
#Hamburger > div{
     width: 35px;
     height: 5px;
     background-color: black;
     margin: 6px auto;

}
ul >li {
     background-color: white;
     width: 100px;
}

    @media only screen and (min-width: 421px){
        body{
            background-color: antiquewhite;
        }

        #sidebar{
            background-color: blueviolet;
            display: inline;
            height: 100%;
            width: 20%;
        }

        #inner-container{
            background-color: chartreuse;
            height: 100%;
            width: 80%;
        }

}

@media only screen and (min-width: 724px){
    body{
        background-color: brown;
    }    
}